:root {
  --gray-100: #f6f6f6;
  --gray-200: #eeeef1;
  --gray-250: #aeb9ba;
  --gray-300: #707070;
  --gray-400: #333333;
  --yellow-100: #ffd774;
  --orange-100: #ff922d;
  --orange-200: #fb7c3e;
  --red-100: #e82658;
  --cian-100: #70cada;
  --cian-200: #3995a5;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;

  font: 400 16px "Montserrat", Arial, sans-serif;
}

input,
button {
  font: 400 16px "Montserrat", Arial, sans-serif;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  border-bottom: 1px solid var(--gray-200);
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 390px;
  width: 100%;
}

.header .logo h1 {
  font-weight: 400;
  color: var(--gray-250);
}

.header .logo h1 strong {
  color: var(--gray-300);
}

.search {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 570px;
  width: 100%;
}

div.input-controller {
  display: flex;
  background-color: var(--gray-200);
  padding: 8px 16px;
  border-radius: 16px;
  flex: 1;
  border: 2px solid var(--gray-200);

  transition: border-color 0.4s ease-out;
}

div.input-controller:focus-within {
  border-color: var(--gray-400);
}

div.input-controller input {
  flex: 1;
  padding: 8px;
  background: none;
  border: 0;
  outline: none;
}

div.input-controller button {
  background: none;
  border: none;
  padding: 8px 16px;
}

div.right-container {
  display: flex;
}

div.right-container .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  border-left: 1px solid var(--gray-200);
  border-right: 1px solid var(--gray-200);
}

div.right-container .icon-button button {
  background: none;
  border: 0;
  outline: 0;
  position: relative;
}

div.right-container .icon-button:first-child {
  border-right: 0;
}

div.right-container .icon-button button::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--yellow-100);
  border-radius: 50%;
  top: -4px;
  right: -4px;
}

div.right-container .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.right-container .avatar img,
div.right-container .avatar a {
  height: 100%;
  padding: 8px 0;
}

nav.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  border-bottom: 1px solid var(--gray-200);
}

nav.menu a {
  text-decoration: none;
  color: var(--gray-400);
  padding: 16px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s ease-in;
}

nav.menu a:hover,
nav.menu a.active {
  border-color: var(--red-100);
}

main.content {
  width: 100%;
  max-width: 1350px;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 48px;
}

.info-product,
.image-product {
  flex-basis: calc(50% - 16px);
  flex-shrink: 0;
  display: flex;
}
.image-product {
  align-items: center;
  justify-content: center;
}

.image-product img {
  width: 100%;
}

.info-product {
  flex-direction: column;
  justify-content: space-between;
  max-height: 50vh;
}

.info-product h1,
.info-product p {
  max-width: 480px;
}

.info-product h1 span {
  color: var(--cian-200);
}

.info-product p {
  line-height: 150%;
  color: var(--cian-100);
}

.info-product .itens-product {
  display: flex;
}

.info-product .itens-product .item-product {
  display: flex;
  flex: 1;
  position: relative;
  height: 117px;
  max-width: 190px;
}

.item-product span {
  z-index: -1;
  position: absolute;
  font-size: 96px;
  font-weight: bold;
  color: var(--gray-200);
  pointer-events: none;
}

.item-product strong {
  align-self: flex-end;
}

a.more-details {
  background-image: linear-gradient(
    270deg,
    var(--orange-200) 0%,
    var(--red-100) 100%
  );
  align-self: flex-start;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  box-shadow: 0 6px 16px var(--red-100);
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 24px;
  margin-top: 48px;
  width: 100%;
}

.product {
  width: 100%;
  background: linear-gradient(127deg, var(--gray-200) 0%, var(--gray-200) 100%);
  border-radius: 16px;
  box-shadow: 0 6px 12px #00000025;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
}

.product:hover {
  background: linear-gradient(
    127deg,
    var(--yellow-100) 0%,
    var(--orange-100) 100%
  );
}

.product img {
  width: 180px;
  height: 180px;
  margin-top: -48px;
  object-fit: contain;
}

.product span {
  font-weight: bold;
  margin: 16px;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .header .right-container .icon-button {
    height: 100px;
  }

  .header .right-container .avatar {
    margin-left: 16px;
    height: 100px;
  }

  nav.menu {
    overflow-x: auto;
  }

  main.content {
    padding: 8px;
  }

  .content .info-product {
    row-gap: 24px;
    flex: 1;
  }

  .content .image-product {
    max-width: 300px;
    margin-top: 24px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;
  }
}

@media (max-width: 425px) {
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  .header .right-container .icon-button {
    height: 100px;
  }

  .header .right-container .avatar {
    margin-left: 16px;
    height: 100px;
  }

  nav.menu {
    overflow-x: auto;
    justify-content: flex-start;
  }

  main.content {
    flex-direction: column;
    padding: 8px;
  }

  .content .info-product {
    row-gap: 24px;
  }

  .content .image-product {
    margin-top: 24px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 64px;
  }
}
